<div class='container'>
  <div id="header" class="row"></div>
  <div id="main" class="row"></div>
</div>

<script>
  $(document).ready(function(){
    Lunchin.initialize({
      currentUserId: <%= current_user ? current_user.id : 'undefined' %>
    });
  });
</script>