<div id="main" class="container"></div>

<script>
  $(document).ready(function(){
    Lunchin.initialize({
      currentUserId: <%= current_user ? current_user.id : 'undefined' %>
    });
  });
</script>