<form class="review-form" action="" method="post">

  Your Rating
  <label><input type="radio" name="rating" value="1"
                class='rating-selector'>1</label>
  <label><input type="radio" name="rating" value="2">2</label>
  <label><input type="radio" name="rating" value="3">3</label>
  <label><input type="radio" name="rating" value="4">4</label>
  <label><input type="radio" name="rating" value="5">5</label>

  <label for="review-form-body">Your Review:</label>
  <textarea name="name" rows="8" cols="40" id="review-form-body"></textarea>
</form>
