<form class="review-form" action="" method="post">

  Your Rating
  <label>
    <input type="radio" name="rating" value="1" class='rating-radio-button'>
    <span class='rating-selector'>*</span>
  </label>
  <label>
    <input type="radio" name="rating" value="2" class='rating-radio-button'>
    <span class='rating-selector'>*</span>
  </label>
  <label>
    <input type="radio" name="rating" value="3" class='rating-radio-button'>
    <span class='rating-selector'>*</span>
  </label>
  <label>
    <input type="radio" name="rating" value="4" class='rating-radio-button'>
    <span class='rating-selector'>*</span>
  </label>
  <label>
    <input type="radio" name="rating" value="5" class='rating-radio-button'>
    <span class='rating-selector'>*</span>
  </label>

  <label for="review-form-body">Your Review:</label>
  <textarea name="name" rows="8" cols="40" id="review-form-body"></textarea>
</form>
