<h2>Review for <%= business.escape('name') %></h2>

<form class="review-form" action="" method="post">

<div class="review-form-rating">
  <label class="review-form-label">Your Rating</label>
  <button type="button" class="btn btn-rating-selector" data-rating="1">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-rating-selector" data-rating="2">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-rating-selector" data-rating="3">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-rating-selector" data-rating="4">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-rating-selector" data-rating="5">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  </button>
</div>


  <input type="radio" name="rating" value="1" class="rating-radio-button">
  <input type="radio" name="rating" value="2" class="rating-radio-button">
  <input type="radio" name="rating" value="3" class="rating-radio-button">
  <input type="radio" name="rating" value="4" class="rating-radio-button">
  <input type="radio" name="rating" value="5" class="rating-radio-button">

<div class="review-form-body">
  <label for="review-form-body" class="review-form-label">Your Review</label>

  <textarea name="body" rows="8" cols="40" id="review-form-body"></textarea>
</div>

  <input type="submit" name="" value="Submit" class="btn btn-primary">
</form>
