
<label>Your Rating</label>

<button type="button" class="btn btn-rating-selector" data-rating="1">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-rating-selector" data-rating="2">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-rating-selector" data-rating="3">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-rating-selector" data-rating="4">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-rating-selector" data-rating="5">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>

<br><br>

<form class="review-form" action="" method="post">

  <input type="radio" name="rating" value="1" class="hidden">
  <input type="radio" name="rating" value="2" class="hidden">
  <input type="radio" name="rating" value="3" class="hidden">
  <input type="radio" name="rating" value="4" class="hidden">
  <input type="radio" name="rating" value="5" class="hidden">

  <label for="review-form-body">Your Review:</label>
  <textarea name="name" rows="8" cols="40" id="review-form-body"></textarea>
</form>
