<div class="review_author_info">
  <div style="height: 80px; width: 80px; border: 1px solid black;">

  </div>
</div>

<div class="">
  <%= review.escape('rating') %>
  <br>
  <%= review.escape('body') %>
</div>
