<div class="business-photo">
  <img src="<%= business.escape('photo_url') %>" alt="business photo" />
</div>
<div class="business-info">
  <a href="#businesses/<%= business.id %>">
    <b><%= business.escape('name') %></b>
  </a>
  <div>
    Rating
  </div>
  <ul>
    <li><%= business.escape('location') %></li>
    <li>Hours</li>
  </ul>
</div>
