
<div class="header-content">
  <form class="search-bar form-inline">

    <a href="#">
      <img class="logo" src="/assets/logo-wr.png" alt="logo" height="65px" />
    </a>

    //DO SOMETHING ABOUT THIS
    <input type="text" style="width:550px;" class="search-input form-control" name="query" placeholder="Search">

    <button type="submit" class="btn btn-search" aria-label="Search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>

    <a href="session/new" class="btn btn-primary btn-login">Log In</a>

  </form>
</div>
