<div class="navbar-content">
  <a class="logo navbar-left" href="#">
    <img src="/assets/Lunchin'-logo.png" alt="logo" height="65px" />
  </a>
  <form class="navbar-form search-bar navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control search-input" name="query" placeholder="search">
    </div>

    <button type="submit" class="btn btn-search" aria-label="Search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>
</div>
