<h1><%= business.escape('name') %></h1>
<img
  src="https://maps.googleapis.com/maps/api/staticmap?size=300x150&markers=<%= business.escape('location') %>"/>
<p><%= business.escape('location') %></p>
<ul class="reviews"></ul>
