<div class="group">
  <h1 class="business-name"><%= business.escape('name') %></h1>
  <button type="button" class="btn-lg btn-primary review-button">Review</button>
</div>


<img
  src="https://maps.googleapis.com/maps/api/staticmap?size=300x200&markers=<%= business.escape('location') %>&style=feature:poi|element:labels|visibility:off"/>
<p><%= business.escape('location') %></p>
<ul class="reviews"></ul>
