/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.btn-search {
  background-color: darkred;
}

.glyphicon-search {
  color: white;
}

.logo {
  color: white;
}

.navbar {
  background-color: firebrick;
  height: auto;
  padding: 10px;
}

.business-list-item {
  height: auto;
  border-top: 1px lightgray solid;
  padding: 15px;
  margin: 15px;
}

.search-input {
  width: 800px;
}

.business-list-item > * {
  float: left;
}

.business-photo {
  height: 80px;
  width: 80px;
}

.business-info {
  margin-left: 20px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.map {
  float: left;
}

.results {
  float: left;
}

#map-canvas {
  border: 2px firebrick solid;
  height: 400px;
  width: 400px;
}
