/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$brand-primary: #b22222;
$brand-danger: #8A0F01;
$container-large-desktop: 970px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.big-search {
  background-color: $brand-primary;
  width: 650px;
  margin: 0 auto;
  height: auto;
  padding: 16px;
  border-radius: 5px;
}

.big-logo {
  margin: 20px auto;
  display: block;
  width: 500px
}

.big-search .btn {
  float: right;
}

.btn-login {
  float: right;
  margin: 20px;
  background-color: #8A0F01;
}

.btn-login:hover {
  background: darken(#8A0F01, 5%);
}

.btn-rating-selector {
  font-size: 20px;
  padding: 2px 6px 0px 6px;
}

.btn-search {
  background-color: #8A0F01;
}

.btn-search:hover {
  background: darken(#8A0F01, 5%);
}

.business-info {
  margin-left: 20px;
}

.business-list-item {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid lightgray;
}

.business-photo {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center center;
  border: 1px solid gray;
  border-radius: 5px;
}

.food-photos {
  margin-top: 35px;
}

.food-photos * {
  float: left;
}

.glyphicon-search {
  color: white;
}

.header-content {
  background-color: $brand-primary;
  height: auto;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

.info-and-photos > * {
  float: left;
}

li {
  list-style-type: none;
}

.login-bg {
  width: 500px;
  height: 255px;
  margin: 0 auto;
  background-image: url("https://s3-us-west-1.amazonaws.com/lunchin/assets/logo-r.png");
  background-size: contain;
  padding: 50px 206px 0 90px;
  color: #b22222;
}

.logo {
  color: white;
  margin: 5px 10px;
}

.map {
  margin-top: 15px;
}

.map-and-info {
  padding: 5px;
  border: 1px solid gray;
  height: 270px;
}

#map-canvas {
  border: 1px gray solid;
  border-radius: 5px;
  height: 389px;
  width: 389px;
}

.name-rating {
  float: left;
}

.rating-hover {
  background-color: $brand-primary;
}

.rating-image {
  margin-bottom: 15px;
}

.rating-radio-button {
  display: none;
}

.rating-selected {
  background-color: $brand-primary;
}

.review-author-info {
  float: left;
  margin-right: 15px;
}

.review-button {
  margin-top: 150px;
}

.review-form-body label {
  vertical-align: top;
}

.review-form-label {
  width: 150px;
}

.review-form-rating {
  margin-bottom: 30px;
}

.review-rating-body {
  float: left;
}

.reviews {
  margin-top: 40px;
}

.reviews > li {
  margin: 15px;
  border-top: 1px solid gray;
  padding: 15px;
}

.search-bar > * {
  margin: 20px 0;
}

.session-header {
  text-align: center;
}

.small-rating-image {
  width: 120px;
  height: auto;
  display: block;
}

ul {
  padding: 0px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}
