<div class="container-fluid">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name="query" placeholder="search">
    </div>

    <button type="submit" class="btn btn-search" aria-label="Search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>
</div>
