<img src='https://s3-us-west-1.amazonaws.com/lunchin/assets/logo-rw.png' class="big-logo">
<div class='big-search'>
  <form class="search-bar form-inline input-group-lg">
    <input
      type="text"
      style="width:550px;"
      class="form-control"
      name="query"
      placeholder="Search for food trucks near...">

    <button type="submit" class="btn btn-search btn-lg" aria-label="Search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>
</div>
