<div class='big-search'>
  <form class="search-bar form-inline input-group-lg">
    <input
      type="text"
      //DO SOMETHING ABOUT THIS
      style="width:550px;"
      class="search-input form-control"
      name="query"
      placeholder="Search">

    <button type="submit" class="btn btn-search btn-lg" aria-label="Search">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </form>
</div>
